@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,700;1,200&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #e1e1e1;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0
}


.key {
    border: 1px solid #999;
    background-color: #eee;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    flex-direction: column;
    margin: 10px;
    min-width: 150px;
    position: relative;
  }
  
  .key small {
    position: absolute;
    top: -24px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #555;
    font-size: 14px;
  }

/* 
font family - sets the default font 
display:flex - sets  up the flex box existence
flex-direction - determines where the items fall in line row vs column
align-items - aligns horizontally
justify-content - aligns vertically
height - 100vh sets the height to the full monitors height
overflow - handles what happens with overflow content, hidden means no scroll bars
margin - hands how much space the boy has between the edge of the screen
*/
